project:
  type: website

website:
  site-url: https://verona-interfaces.github.io
  title: "Verona-Interfaces"
  favicon: assets/favicon.ico
  page-navigation: true
  repo-url: https://github.com/verona-interfaces/verona-interfaces.github.io
  repo-actions: []
  navbar:
    pinned: true
    search: true
    logo: assets/logo_verona_small.png
    right:
      - icon: github
        href: https://github.com/verona-interfaces
  page-footer:
    border: true
    background: light
    right:
      - text: "IQB 2025"
        href: https://www.iqb.hu-berlin.de
    left:
      - href: index.qmd
        text: Start

  sidebar: 
    style: "docked"
    lang: de
    contents:
      - href: index.qmd
        text: Start
      - section: "Einführung"
        href: intro/index.qmd
        contents:
          - intro/data-structures.qmd
          - intro/architecture.qmd
          - intro/metadata.qmd
          - intro/modelling.qmd
          - intro/shared-parameters.qmd
          - intro/english.qmd
      - section: Player
        href: player-docs/index.qmd
        contents:
          - href: player-docs/vopStartCommand.qmd
            text: Start-Kommando
          - href: player-docs/vopStateChangedNotification.qmd
            text: Status-Änderung
          - player-docs/integration.qmd
      - href: editor-docs/index.qmd
        text: Editor
      - href: schemer-docs/index.qmd
        text: Schemer
      - section: Widget
        href: widget-docs/index.qmd
        contents:
          - href: widget-docs/calc.qmd
            text: Taschenrechner
          - href: widget-docs/pse.qmd
            text: Periodensystem
          - href: widget-docs/molecule.qmd
            text: Molekül-Editor

format:
  html:
    theme: pulse
    css: styles.css
    toc: true 
    anchor-sections: true
    link-external-icon: true
    link-external-newwindow: true
    